.bg-select {
    background-color: rgb(3, 155, 229);
    color: #ffffff;
    border-color: rgb(3, 155, 229) !important;
}
/*.table-bordered td:not(:first-child){*/
/*    border-style: hidden;*/
/* }*/
.table-bordered tr:nth-child(n + 2) {
    /*border-style: hidden;*/
    /*border-block-start-style: hidden;*/
    border-top: rgb(3, 155, 229) !important;
    border-bottom: rgb(3, 155, 229) !important;
    border-left: rgb(3, 155, 229) !important;
    border-right: rgb(3, 155, 229) !important;
}
tr[class ~= "bg-select"] {
    /*border-top: rgb(3, 155, 229) !important;*/
    /*border-bottom: rgb(3, 155, 229) !important;*/
}
tr[class ~= "bg-select"] td{
    border-color: rgb(3, 155, 229);
    /*border-right: hidden;*/
    /*padding-right: 11px;*/
}

/*#someDiv > input { все после первого элемента*/
/*    margin-top: 20px;*/
/*}*/
/*#someDiv > input:first-child{*/
/*    margin-top: 0px;*/
/*}*/
.bg-booked {
    background-color: rgb(3, 155, 229);
    color: #ffffff;
    /*box-shadow: inset 4px 5px 12px rgba(0, 0, 0, 0.07);*/
}

tr.active:hover,
tr.active:focus{
    color: #62921d;
}

.tr_size {
    cursor: pointer;
    line-height: 33px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
}
tbody tr:hover{
     cursor: pointer;
}

.inp {
    background: #fff;
    color: #525865;
    border-radius: 4px;
    border: 1px solid #d1d1d1;
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
    font-family: inherit;
    font-size: 1em;
    line-height: 1.45;
    outline: none;
    padding: 0.25em 1.45em 0.35em;
    /*padding-top: 5px;*/
    /*padding-bottom: 5px;*/
    -webkit-transition: .18s ease-out;
    -moz-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
    width: 100%;
}
.tr_size td{
    -webkit-transition: .18s ease-out;
    -moz-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
}
.inpDisabled {
    background: #eeeeee;
    color: #bfbfbf;
    border-radius: 4px;
    border: 1px solid #d1d1d1;
    box-shadow: inset 5px 5px 8px rgba(0, 0, 0, 0.07);
    line-height: 1.45;
    outline: none;
    padding: 0.25em 1.45em 0.35em;
    -webkit-transition: .18s ease-out;
    -moz-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
    width: 100%;
}
.inp:hover {
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
}

.inp:focus {
    color: #4b515d;
    border: 1px solid #B8B6B6;
    box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0 0 8px rgba(0, 0, 0, 0.2);
}

.marked {
    background-color: #36e346;
}

.h-td {
    height: 32px;
}

#clock {
    /*font-family: 'Orbitron', sans-serif;*/
    /*font-size: 20px;*/
    font-weight: bold;
    /*min-height: 60px;*/
}

/*
tr:nth-child(even){
    display: block;
    border-top: 2px solid red;
    background-color: #CC9999;

}
tr:nth-child(odd){
    display: block;
    border-top: 2px solid blue;
}

table.table thead tr{
    border-collapse: collapse;
    border: 1px solid #5a5a5a;
}
table.table tbody tr{
    border-collapse: collapse;
    border: 1px solid #5a5a5a;
}table.table td{
    border: 0;
}*/


/*.datepicker {*/
/*    font-size: 0.875em;*/
/*    width: auto;*/
/*}*/
/*!* solution 2: the original datepicker use 20px so replace with the following:*!*/

/*.datepicker td, .datepicker th {*/
/*    width: 1.8em;*/
/*    height: 1.8em;*/
/*}*/
#datepicker {
    width: 250px;
    margin: 0 auto;
}
#btn_reservation{

}

body{
}
.datepicker-inline{
    width: 250px;
}
td {
    width: auto;
    padding-left: 10px;
    font-size: 12px;
}
td.min {
    width: 1%;
    white-space: nowrap;
    color: #c3c6c8;
    font-size: 12px;
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
}
