.bg-select {
    background-color: rgb(3, 155, 229);
    border-color: rgb(3, 155, 229) !important;
}
tr[class ~= "bg-select"] td{
    color: #ffffff;
    border-color: rgb(3, 155, 229);
    /*border-right: hidden;*/
    /*padding-right: 11px;*/
}

.bg-booked {
    background-color: #0288C7;
    cursor: default;
    border-color: #0288C7;
    /*box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);*/
}
.bg-booked:hover {
    cursor: default;
}
tr[class ~= "bg-booked"] td{
    color: #f8f8f8;
    border-color: #0288C7;!important;
    /*box-shadow: inset 0px 0px 3px rgba(0,0,0,0.8);*/
}

.tr_size {
    cursor: pointer;
    line-height: 33px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently */
}
/*tbody tr:hover{*/
/*     cursor: pointer;*/
/*}*/
.pointer{
    cursor: pointer;
}
.inp {
    background: #fff;
    color: #525865;
    border-radius: 4px;
    border: 1px solid #d1d1d1;
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
    font-family: inherit;
    font-size: 1em;
    line-height: 1.45;
    outline: none;
    padding: 0.25em 1.45em 0.35em;
    /*padding-top: 5px;*/
    /*padding-bottom: 5px;*/
    -webkit-transition: .18s ease-out;
    -moz-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
    width: 100%;
}
.tr_size td{
    -webkit-transition: .18s ease-out;
    -moz-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
    color: #c3c6c8;
}
.inpDisabled {
    background: #eeeeee;
    /*color: #bfbfbf;*/
    border-radius: 4px;
    border: 1px solid #d1d1d1;
    box-shadow: inset 5px 5px 8px rgba(0, 0, 0, 0.07);
    line-height: 1.45;
    outline: none;
    padding: 0.25em 1.45em 0.35em;
    -webkit-transition: .18s ease-out;
    -moz-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
    width: 100%;
}
.inp:hover {
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
}

.inp:focus {
    color: #4b515d;
    border: 1px solid #B8B6B6;
    box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0 0 8px rgba(0, 0, 0, 0.2);
}

.h-td {
    height: 32px;
}


/*
tr:nth-child(even){
    display: block;
    border-top: 2px solid red;
    background-color: #CC9999;

}
tr:nth-child(odd){
    display: block;
    border-top: 2px solid blue;
}

table.table thead tr{
    border-collapse: collapse;
    border: 1px solid #5a5a5a;
}
table.table tbody tr{
    border-collapse: collapse;
    border: 1px solid #5a5a5a;
}table.table td{
    border: 0;
}*/


#btn_reservation{
    font-size: 14px;
}
.btn-primary, .btn-primary:visited {
    background-color: #0288C7 !important;
    border-radius: 2px;
    color: #ffffff;
    border-color: #0278AF !important;
    -webkit-transition: .18s ease-out;
    -moz-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
}
.btn-primary:hover, .btn-primary:active {
    background-color: #017bb3 !important;
    color: #ffffff;
    border-color: #0173a8 !important;
    -webkit-transition: .18s ease-out;
    -moz-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
}

/*navigation*/
.btn-nav, .btn-nav:visited {
    background-color: #0288C7 !important;
    border-radius: 2px;
    color: #efefef;
    border-color: #0278AF !important;
    -webkit-transition: .18s ease-out;
    -moz-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
}
.btn-nav:hover, .btn-nav:active {
    background-color: #017bb3 !important;
    color: #ffffff;
    border-color: #0173a8 !important;
    -webkit-transition: .18s ease-out;
    -moz-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
    font-size: 14px;
}
.navbar-nav .nav-item .nav-link {
    color: #efefef;
    padding-left: 15px;
    padding-right: 15px;
    margin: 2px 3px 2px 3px;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
}


td {
    /*width: auto;*/
    padding-left: 10px;
    font-size: 12px;
}
td.min {
    width: 1%;
    white-space: nowrap;
    font-size: 12px;
    text-align: right;
    padding-left: 20px;
    padding-right: 20px;
}
.ui-widget-overlay {
    z-index: -2;
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
}

.wrapper1{
    padding: 15px;!important;
}

.bg-primary{
    background-color: rgb(3, 155, 229) !important;
    -webkit-transition: .18s ease-out;
    -moz-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
}
.navbar-dark{
    font-size: 14px;
    border-bottom:1px solid #0278AF;
}
.navbar-brand{
    font-size: 15px;
    box-shadow: inset 3px 3px 15px rgba(0,0,0,0.9);
    font-family: inherit;
    outline: none;
}
.form-small-txt{
    font-size: 14px;
    color: #959697;!important;
}

.navbar-dark .navbar-toggler {
    background-color: #0288C7 !important;
    border: 1px solid #0278AF;!important;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 3px;
}
.left-col-div2{
    /*max-width: 400px;*/
    /*min-width: 330px;*/
}

.pl-1{
    padding-left: 3px;
}

/*обрезаем текст при сужении*/
@media (max-width: 900px) {
    .overflow-ellipsis {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 400px;
    }
}

/*userName*/
.userName, .userName:visited {
    background-color: #0288C7 !important;
    border-radius: 2px;
    color: #efefef;
    border-color: #0278AF !important;
    -webkit-transition: .18s ease-out;
    -moz-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    cursor: crosshair;
}
.userName:hover {
    cursor: crosshair;
}


/*datepicker*/
/*.datepicker {*/
/*font-size: 0.875em;*/
/*}*/

/*.datepicker td, .datepicker th {*/
    /*width: 3em;*/
    /*height: 3em;*/
/*}*/





.datepicker-title{
    background-color: #0288C7;
    border-radius: 0;!important;
    color: white;
    font-weight: normal;
    padding-top: 9px;!important;
    padding-bottom: 9px;!important;
}
/*title*/
#dp > div > div.datepicker-days > table > thead > tr:nth-child(1) > th{
    border-radius: 0px;
}
/*month changing*/
#dp > div > div.datepicker-days > table > thead > tr:nth-child(2) > th{
    background-color: #0288C7;
    /*border: 1px solid #0278AF;*/
    border-radius: 0;!important;
    color: white;
    font-weight: normal;!important;
    padding-top: 9px;!important;
    padding-bottom: 9px;!important;
}
/*days of week title*/
#dp > div > div.datepicker-days > table > thead > tr:nth-child(3) > th {
    font-weight: normal;!important;
    font-size: 12px;
    padding-top: 5px;!important;
    padding-bottom: 5px;!important;
}

/*main border*/
#dp > div > div.datepicker-days > table{
    outline: #0278AF solid 1px;
    /*border:0px solid #0278AF;*/
}

.table-condensed {

    /*border:3px solid #0278AF;*/
}
#dp > div > div.datepicker-days > table > tbody{
    /*border:2px solid #0278AF;!important;*/

}
.table-condensed td{
    /*border:1px solid #e62b32;*/
    padding: 8px 11px;
}
/*today*/
#dp > div > div.datepicker-days > table > tbody > tr > td.today.day{
    /*border: none;*/
    color: white;
    border-radius: 0px;
    padding: 0px;
    background: #00a827 none;
}
/*days*/
#dp > div > div.datepicker-days > table > tbody > tr > td{
    /*border: none;*/
    border-right: 1px solid silver;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    /*пустоты между квадратами TEST*/
}

/*days hover*/
#dp > div > div.datepicker-days > table > tbody > tr > td:hover{
    /*border: none;*/
    border-right: 1px solid silver;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    color: white;
    border-radius: 0px;
    background-color: #0288C7;
}

/*weekend hover*/
#dp > div > div.datepicker-days > table > tbody > tr > td.highlighted:hover{
    border-radius: 0px;!important;
    background-color: #0288C7;
}
/*weekend 6*/
#dp > div > div.datepicker-days > table > tbody > tr > td:nth-child(6){
    background-color: #cde1f7;
}
/*weekend 7*/
#dp > div > div.datepicker-days > table > tbody > tr > td:nth-child(7){
    background-color: #cde1f7;
}
/*active day*/
#dp > div > div.datepicker-days > table > tbody > tr > td.active.day {
    border-radius: 0px;!important;
    background: #0288C7 none;
}
/*календарь целиком*/
#dp > div > div.datepicker-days > table {
    background-color: #0288C7;
}
/*названия дней недели*/
#dp > div > div.datepicker-days > table > thead > tr > th{
    background-color: white;
    border-radius: 0px;
}
/*td дни календаря*/
#dp > div > div.datepicker-days > table > tbody > tr > td{
    background-color: white;
    border-radius: 0px;
}

/*неактивные дни*/
#dp > div > div.datepicker-days > table > tbody > tr > td.disabled.day:hover{
    background-color: white;
    color: #999;
}
/*заглушки для старых выходных */
#dp > div > div.datepicker-days > table > tbody > tr > td.disabled.highlighted:nth-child(6):hover{
    background-color: #cde1f7;!important;
}
/*заглушки для старых выходных */
#dp > div > div.datepicker-days > table > tbody > tr > td.disabled.highlighted:nth-child(7):hover{
    background-color: #cde1f7;!important;
}

/* delete reserve  */

.unreserve {
    color: #ffffff;
    font-weight: bold;!important;
    float: right;!important;
    font-size: 26px;!important;
    cursor: pointer;!important;
    transition: 0.3s;!important;
    display:inline-block;!important;
}

.unreserve:hover {
    color: #ff0000;!important;
}
/*
.container {
    max-width: 700px !important;
}*/
.unresizable{
    resize: none !important;
}

.row_club {
    background-color: rgb(255, 255, 255) !important;
}

