.bg-select {
    /*background-color: #37ab5f;*/
    /*background-color: #f3f3f3;*/
    /*background-color: #dee2e6;*/
    background-color: #eaeaea;
    color: #929292;
    text-shadow: 0px 0px 0px rgba(150, 150, 150, 1);
}

.bg-booked {
    /*background-color: #37ab5f;*/
    /*background-color: #f3f3f3;*/
    background-color: #737373;
    color: #d9d9d9;
    text-shadow: 0px 0px 0px rgba(150, 150, 150, 1);
}

.tr_size {
    line-height: 33px;
}

.inp {
    background: #fff;
    color: #525865;
    border-radius: 4px;
    border: 1px solid #d1d1d1;
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
    font-family: inherit;
    font-size: 1em;
    line-height: 1.45;
    outline: none;
    padding: 0.25em 1.45em 0.35em;
    /*padding-top: 5px;*/
    /*padding-bottom: 5px;*/
    -webkit-transition: .18s ease-out;
    -moz-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
    width: 100%;
}

.inp:hover {
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
}

.inp:focus {
    color: #4b515d;
    border: 1px solid #B8B6B6;
    box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0 0 8px rgba(0, 0, 0, 0.2);
}

.marked {
    background-color: #36e346;
}

.h-td {
    height: 32px;
}



#clock {
    font-family: 'Orbitron', sans-serif;
    font-size: 70px;
    min-height: 85px;
}