<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Coalition registration</title>
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../css/awesome.css" type="text/css">
    <link rel="stylesheet" href="../css/bootstrap-datepicker.css" type="text/css">
    <link rel="stylesheet" href="../css/bootstrap-datepicker.css.map" type="text/css">
    <link rel="stylesheet" href="../css/bootstrap-colorpicker.css" type="text/css">
    <link rel="stylesheet" href="../css/style.css" type="text/css">

</head>
<body class="body">


    <!--navigation bar [start]-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
        <!--    <a class="navbar-brand logo border border-dark rounded py-2 px-3 bg-dark" href="/">Резерв комнат</a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item navbutton">
                    <a class="navbutton btn-primary2" id="home" href="/"><i class="fas fa-home"></i></a>
                </li>
                {{if eq .user.Authenticated true }}


                <li class="btn-group">
                    <a class="navbutton btn-primary2 dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fas fa-flag pr-1"></i>
                        Репорт
                    </a>
                    <div class="dropdown-menu">
                        <a class="navsub-choice dropdown-item" href="/repregistration">
                            <i class="fas fa-flag pr-1"></i>
                            Сообщить о ошибке
                        </a>
                        <a class="navsub-choice dropdown-item" href="/report">
                            <i class="fas fa-flag pr-1"></i>
                            Список репортов
                        </a>
                    </div>
                </li>

                <li class="btn-group">
                    <a class="navbutton btn-primary2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fas fa-list-alt pr-1"></i>
                        Клуб
                    </a>
                    <div class="dropdown-menu">
                        <a class="navsub-choice dropdown-item" href="/clubs">
                            <i class="fas fa-list-alt pr-1"></i>
                            Список клубов
                        </a>
                        <a class="navsub-choice dropdown-item" href="/clubregistration">
                            <i class="fas fa-plus pr-1"></i>
                            Регистрация нового клуба
                        </a>
                        <div class="navsub-choice dropdown-divider"></div>
                        {{ if eq $.user.Staff false }}
                        <a class="navsub-choice dropdown-item" href="/clubstoapproved">
                            <i class="fas fa-check-circle pr-1"></i>
                            Модерация клубов
                        </a>
                        {{ else }}
                        <a class="dropdown-item disabled" href="#">
                            <i class="fas fa-check-circle pr-1"></i>
                            Модерация клубов
                        </a>
                        {{end}}
                    </div>
                </li>
                {{end}}
            </ul>

            <ul class="navbar-nav ml-auto">
                {{if eq .user.Authenticated false }}
                <li class="btn-group">
                    <a class="navbutton btn-primary2" id="login" href="/login">
                        <i class="fas fa-key pr-1"></i>
                        Авторизация
                    </a>
                </li>
                {{ else }}
                <li class="btn-group">
                    <a class="navbutton btn-primary2 dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <b>{{ .user.Name }}</b>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        {{ if eq $.member true }}
                        <a class="navsub-choice dropdown-item" href="/myclubs">
                            <i class="fas fa-list-alt pr-1"></i>
                            Мои клубы
                        </a>
                        {{ else }}
                        <a class="dropdown-item disabled" href="#">
                            <i class="fas fa-list-alt pr-1"></i>
                            Мои клубы
                        </a>
                        {{ end }}
                        <div class="navsub-choice dropdown-divider"></div>
                        <a class="navsub-choice dropdown-item" href="/logout">
                            <i class="fas fa-door-open pr-1"></i>
                            Выход
                        </a>
                    </div>
                </li>
                {{ end }}
            </ul>
        </div>
    </nav>

    <div class="container" style="max-width:1200px;">

        <div class="row shadow">
            <div class="col-md-4 py-5 border club-about">

                <div class="form-group col-md-12 club-label">
                    {{ .club.ClubName }}
                </div>

                <div class="" id="profile-container">
                    <img id="clubPic" src="https://21clubs.s3.eu-central-1.amazonaws.com/{{ .club.S3file }}">
                </div>

                <div class="form-row col-md-12 club-creator">
                    Основан: {{ .club.CreationDate }}, {{ .club.NickCreator }}
                </div>

                {{ if eq .owner true }}
                <form enctype="multipart/form-data" method="POST" id="form1">
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile02" name="file" accept=".jpg, .jpeg, .png">
                            <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                        </div>
                        <div class="input-group-append">
                            <input id="imageInputButton" class="input-group-text" type="submit" name="sumbit" value="Upload" form="form1" disabled/>
                        </div>
                    </div>
                </form>
                {{ end }}
                <form method="POST">
                    <div class="form-row">
                        <input type="hidden" value="{{ .club.Color }}" name="color" id="colorInp">

                        <div class="form-group col-md-12">
                            <input value="{{ .club.Color }}" id="color" type="color" class="color-shower" disabled>
                        </div>
                        {{ if eq .owner true }}
                        <div class="form-group col-md-12 colors-list">
                            <input class="btn color-gray" type="button" onclick="changeColor('#808080')">
                            <input class="btn color-standart" type="button" onclick="changeColor('#039BE5')">
                            <input class="btn color-pink" type="button" onclick="changeColor('#be68be')">
                            <input class="btn color-red" type="button" onclick="changeColor('#c10000')">
                            <input class="btn color-green" type="button" onclick="changeColor('#2bcd01')">
                            <input class="btn color-yellow" type="button" onclick="changeColor('#dbd400')">
                            <input class="btn color-orange" type="button" onclick="changeColor('#ff8316')">
                            <input class="btn color-blue" type="button" onclick="changeColor('#1269ff')">
                            <input class="btn color-purple" type="button" onclick="changeColor('#a514ff')">
                            <input class="btn color-cyan" type="button" onclick="changeColor('#0fbe9b')">
                        </div>
                        {{ end }}
                        <div class="form-group col-md-12">
                            Канал в <i class="fab fa-slack pr-1"></i>Slack:
                        </div>
                        <div class="form-group col-md-12 input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">#</span>
                            </div>
                            <input name="slack" type="text" class="form-control" placeholder="Канал в Slack" aria-describedby="basic-addon1" value="{{ .club.Slack }}">
                        </div>
                        <div class="form-group col-md-12">
                            {{ if eq .owner true }}
                            <textarea name="clubAbout"
                                      placeholder="Опишите чем занимается клуб"
                                      cols="40"
                                      rows="5"
                                      class="form-control unresizable"
                                      maxlength="255">{{ .club.About }}</textarea>
                            {{ else }}
                            <textarea name="clubAbout"
                                      placeholder="Опишите чем занимается клуб"
                                      cols="40"
                                      rows="5"
                                      class="form-control unresizable"
                                      maxlength="255"
                                      disabled>{{ .club.About }}</textarea>
                            {{ end }}
                        </div>
                    </div>
                    {{ if eq .owner true }}
                    <div class="col-md-12 py-1 float-right">
                        <input type="submit" class="btn btn-primary btn-nav" name="sumbit" value="Сохранить">
                    </div>

                    <div class="col-md-12 py-1 float-right">
                        <input type="submit" class="btn btn-primary btn-nav" name="sumbit" value="Удалить клуб">
                    </div>
                    {{ end }}
                </form>
            </div>

            <div class="col-md-8 py-1 bg-primary text-white text-center">
                <div class=" ">
                    <div class="card-body">
                        <h2 class="py-1">Члены клуба</h2>
                            <table id="clubtable" class="table rounded border shadow table-sm h-100 sortable">
                                <tbody class="font-weight-normal table-bordered">
                                <tr class="row_club text-center">
                                    <th>Ник</th>
                                    <th>Ранг</th>
                                    <th>Дата вступления</th>
                                    {{ if eq .owner true }}
                                        <th>Действия</th>
                                    {{end}}
                                </tr>
                                {{ range $index, $group := .groups }}
                                    {{ $group.Name }}
                                {{ end }}
                                {{ range $index, $group := .groups }}
                                    {{ range $key, $val := .members }}

                                        {{ if eq $val.Group $group.Name }}
                                        <form method="POST">
                                        <input type="hidden" value="{{.NickName}}" name="nickName">
                                        <input type="hidden" value="{{.IDIntra}}" name="intraID">

                                            <tr id="membersTable" class="row_club td-align">
                                                <td scope="col" class="h-td font-weight-normal pl-3">
                                                    {{ $val.NickName }}
                                                </td>
                                                <td scope="col" class="h-td font-weight-normal pl-3">
                                                    {{ if eq .Access 3 }}
                                                        Владелец
                                                    {{ end }}
                                                    {{ if eq .Access 2 }}
                                                        Модератор
                                                    {{ end }}
                                                    {{ if eq .Access 1 }}
                                                        Участник++
                                                    {{ end }}
                                                    {{ if eq .Access 0 }}
                                                        Участник
                                                    {{ end }}
                                                </td>
                                                <td scope="col" class="h-td font-weight-normal pl-3">
                                                    {{ .JoinDate }}
                                                </td>
                                                {{ if eq $.owner true }}
                                                <td scope="col" class="h-td font-weight-normal pl-3">
                                                    {{ if ne $.user.Name .NickName}}
                                                    {{ if eq .Access 2 }}
                                                    <button type="submit" class="btn font-weight-normal" title="Сменить владельца" name="sumbit" value="setOwner">
                                                        <i class="fas fa-crown large_icon"></i>
                                                    </button>
                                                    {{ else }}
                                                    <button type="submit" class="btn font-weight-normal" title="Сделать модератором" name="sumbit" value="makeModer">
                                                        <i class="fas fa-user-check large_icon"></i>
                                                    </button>
                                                    {{ end }}
                                                    <button type="submit" class="btn font-weight-normal" title="Выгнать" name="sumbit" value="kick">
                                                        <i class="fas fa-user-slash large_icon"></i>
                                                    </button>
                                                    {{ end }}
                                                </td>
                                                {{ end }}
                                            </tr>
                                        </form>
                                        {{ end }}
                                    {{ end }}
                                {{ end }}
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--main container [end]-->
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/bootstrap-datepicker.js"></script>
    <script src="../js/bootstrap-colorpicker.js"></script>
    <script src="../js/bootstrap-datepicker.ru.min.js"></script>
    <script src="../js/scripts.js"></script>
</body>
</html>