<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Coalition registration</title>
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../css/awesome.css" type="text/css">
    <link rel="stylesheet" href="../css/bootstrap-datepicker.css" type="text/css">
    <link rel="stylesheet" href="../css/bootstrap-datepicker.css.map" type="text/css">
    <link rel="stylesheet" href="../css/bootstrap-colorpicker.css" type="text/css">
    <link rel="stylesheet" href="../css/style.css" type="text/css">

</head>
<body class="body">
  <!--  <img src="https://21clubs.s3.eu-central-1.amazonaws.com/{{ .club.ClubName }}.png" alt="W3Schools.com" style="width:104px;height:142px;"> -->

  <form enctype="multipart/form-data" method="POST">
      <input type="file" name="file" />
      <input type="submit" name="upload" />
  </form>
    <!--navigation bar [start]-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
        <!--    <a class="navbar-brand logo border border-dark rounded py-2 px-3 bg-dark" href="/">Резерв комнат</a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item navbutton">
                    <a class="navbutton btn-primary2" id="home" href="/"><i class="fas fa-home"></i></a>
                </li>
                {{if eq .user.Authenticated true }}


                <li class="btn-group">
                    <a class="navbutton btn-primary2 dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fas fa-flag pr-1"></i>
                        Репорт
                    </a>
                    <div class="dropdown-menu">
                        <a class="navsub-choice dropdown-item" href="/repregistration">
                            <i class="fas fa-flag pr-1"></i>
                            Сообщить о ошибке
                        </a>
                        <a class="navsub-choice dropdown-item" href="/report">
                            <i class="fas fa-flag pr-1"></i>
                            Список репортов
                        </a>
                    </div>
                </li>

                <li class="btn-group">
                    <a class="navbutton btn-primary2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fas fa-list-alt pr-1"></i>
                        Клуб
                    </a>
                    <div class="dropdown-menu">
                        <a class="navsub-choice dropdown-item" href="/clubs">
                            <i class="fas fa-list-alt pr-1"></i>
                            Список клубов
                        </a>
                        {{ if eq $.member true }}
                        <a class="navsub-choice dropdown-item" href="/myclubs">
                            <i class="fas fa-list-alt pr-1"></i>
                            Мои клубы
                        </a>
                        {{ else }}
                        <a class="dropdown-item disabled" href="#">
                            <i class="fas fa-list-alt pr-1"></i>
                            Мои клубы
                        </a>
                        {{ end }}
                        <a class="navsub-choice dropdown-item" href="/clubregistration">
                            <i class="fas fa-plus-square pr-1"></i>
                            Регистрация нового клуба
                        </a>
                        <div class="navsub-choice dropdown-divider"></div>
                        {{ if eq $.user.Staff false }}
                        <a class="navsub-choice dropdown-item" href="/clubstoapproved">
                            <i class="fas fa-check-circle pr-1"></i>
                            Модерация клубов
                        </a>
                        {{ else }}
                        <a class="dropdown-item disabled" href="#">
                            <i class="fas fa-check-circle pr-1"></i>
                            Модерация клубов
                        </a>
                        {{end}}
                    </div>
                </li>
                {{end}}
            </ul>

            <ul class="navbar-nav ml-auto">
                {{if eq .user.Authenticated false }}
                <li class="btn-group">
                    <a class="navbutton btn-primary2" id="login" href="/login">
                        <i class="fas fa-key pr-1"></i>
                        Авторизация
                    </a>
                </li>
                {{ else }}
                <li class="btn-group">
                    <a class="navbutton btn-primary2 dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <b>{{ .user.Name }}</b>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="navsub-choice dropdown-item" href="/logout">
                            <i class="fas fa-door-open pr-1"></i>
                            Выход
                        </a>
                    </div>
                </li>
                {{ end }}
            </ul>
        </div>
    </nav>

    <div class="container" style="max-width:1200px;">

        <div class="row shadow">
            <div class="col-md-4 py-5 border">

                <h4 class="pb-4">Информация о клубе</h4>


                <form method="POST">
                    <div class="form-row">

                        <div class="form-group col-md-12">
                            Владелец: {{ .club.NickOwner }}
                        </div>
                        <div class="form-group col-md-12">
                            Название кулба: {{ .club.ClubName }}
                        </div>
                        <div class="form-group col-md-12">
                            Канал в слаке: {{ .club.Slack }}
                        </div>
                        <div class="form-group col-md-12">
                            {{ if eq .owner true }}
                            <textarea name="clubAbout"
                                      placeholder="Опишите чем занимается клуб"
                                      cols="40"
                                      rows="5"
                                      class="form-control unresizable"
                                      maxlength="255">{{ .club.About }}</textarea>
                            {{ else }}
                            <textarea name="clubAbout"
                                      placeholder="Опишите чем занимается клуб"
                                      cols="40"
                                      rows="5"
                                      class="form-control unresizable"
                                      maxlength="255"
                                      disabled>{{ .club.About }}</textarea>
                            {{ end }}
                        </div>
                    </div>
                    {{ if eq .owner true }}
                    <div class="form-row col-md-12 float-right">
                        <input type="submit" class="btn btn-primary btn-nav" name="sumbit" value="Сохранить">
                    </div>
                    {{ end }}

                    {{ if eq .owner true }}
                    <div class="col-md-12 py-1 float-right">
                        <input type="submit" class="btn btn-primary btn-nav" name="sumbit" value="Удалить клуб">
                    </div>
                    {{ end }}
                </form>

                <div class="form-row">
                    <div class="col-md-12 form-group">
                        Дата создания: {{ .club.CreationDate }}
                    </div>
                    <div class="col-md-12 form-group">
                        Ник создателя: {{ .club.NickCreator }}
                    </div>
                </div>
            </div>

            <div class="col-md-8 py-1 bg-primary text-white text-center">
                <div class=" ">
                    <div class="card-body">
                        <h2 class="py-1">Члены клуба</h2>
                            <table id="clubtable" class="table rounded border shadow table-sm h-100 sortable">
                                <tbody class="font-weight-normal table-bordered">
                                <tr class="row_club text-center">
                                    <th>Ник</th>
                                    <th>Ранг</th>
                                    <th>Дата вступления</th>
                                    {{ if eq .owner true }}
                                        <th>Действия</th>
                                    {{ end }}
                                </tr>
                                    {{ range .members }}
                                    <form method="POST">
                                    <input type="hidden" value="{{.NickName}}" name="nickName">
                                    <input type="hidden" value="{{.IDIntra}}" name="intraID">

                                        <tr class="row_club">
                                            <td scope="col" class="h-td font-weight-normal pl-3">
                                                {{ .NickName }}
                                            </td>
                                            <td scope="col" class="h-td font-weight-normal pl-3">
                                                {{ if eq .Access 3 }}
                                                    Владелец
                                                {{ end }}
                                                {{ if eq .Access 2 }}
                                                    Модератор
                                                {{ end }}
                                                {{ if eq .Access 1 }}
                                                    Участник++
                                                {{ end }}
                                                {{ if eq .Access 0 }}
                                                    Участник
                                                {{ end }}
                                            </td>
                                            <td scope="col" class="h-td font-weight-normal pl-3">
                                                {{ .JoinDate }}
                                            </td>
                                            {{ if eq $.owner true }}
                                            <td scope="col" class="h-td font-weight-normal pl-3">
                                                {{ if ne $.user.Name .NickName}}
                                                {{ if eq .Access 2 }}
                                                <button type="submit" class="btn font-weight-normal" name="sumbit" value="setOwner">
                                                    <i class="fas fa-crown large_icon"></i>
                                                </button>
                                                {{ else }}
                                                <button type="submit" class="btn font-weight-normal" name="sumbit" value="makeModer">
                                                    <i class="fas fa-user-check large_icon"></i>
                                                </button>
                                                {{ end }}
                                                <button type="submit" class="btn font-weight-normal" name="sumbit" value="kick">
                                                    <i class="fas fa-user-slash large_icon"></i>
                                                </button>
                                                {{ end }}
                                            </td>
                                            {{ end }}
                                        </tr>
                                    </form>
                                    {{ end }}
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--main container [end]-->
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/bootstrap-datepicker.js"></script>
    <script src="../js/bootstrap-colorpicker.js"></script>
    <script src="../js/bootstrap-datepicker.ru.min.js"></script>
    <script src="../js/scripts.js"></script>
</body>
</html>