<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Coalition registration</title>
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../css/awesome.css" type="text/css">
    <link rel="stylesheet" href="../css/bootstrap-datepicker.css" type="text/css">
    <link rel="stylesheet" href="../css/bootstrap-datepicker.css.map" type="text/css">
    <link rel="stylesheet" href="../css/bootstrap-colorpicker.css" type="text/css">
    <link rel="stylesheet" href="../css/style.css" type="text/css">

</head>
<body class="body">

<!--navigation bar [start]-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
    <!--    <a class="navbar-brand logo border border-dark rounded py-2 px-3 bg-dark" href="/">Резерв комнат</a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item navbutton">
                <a class="navbutton btn-primary2" id="home" href="/"><i class="fas fa-home"></i></a>
            </li>
            {{if eq .user.Authenticated true }}

            <li class="btn-group">
                <a class="navbutton btn-primary2 dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fas fa-flag pr-1"></i>
                    Репорт
                </a>
                <div class="dropdown-menu">
                    <a class="navsub-choice dropdown-item" href="/repregistration">
                        <i class="fas fa-flag pr-1"></i>
                        Сообщить о ошибке
                    </a>
                    <a class="navsub-choice dropdown-item" href="/report">
                        <i class="fas fa-flag pr-1"></i>
                        Список репортов
                    </a>
                </div>
            </li>

            <li class="btn-group">
                <a class="navbutton btn-primary2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fas fa-list-alt pr-1"></i>
                    Клуб
                </a>
                <div class="dropdown-menu">
                    <a class="navsub-choice dropdown-item" href="/clubs">
                        <i class="fas fa-list-alt pr-1"></i>
                        Список клубов
                    </a>
                    {{ if eq $.member true }}
                    <a class="navsub-choice dropdown-item" href="/myclubs">
                        <i class="fas fa-list-alt pr-1"></i>
                        Мои клубы
                    </a>
                    {{ else }}
                    <a class="dropdown-item disabled" href="#">
                        <i class="fas fa-list-alt pr-1"></i>
                        Мои клубы
                    </a>
                    {{ end }}
                    <a class="navsub-choice dropdown-item" href="/clubregistration">
                        <i class="fas fa-plus-square pr-1"></i>
                        Регистрация нового клуба
                    </a>
                    <div class="navsub-choice dropdown-divider"></div>
                    {{ if eq $.user.Staff false }}
                    <a class="navsub-choice dropdown-item" href="/clubstoapproved">
                        <i class="fas fa-check-circle pr-1"></i>
                        Модерация клубов
                    </a>
                    {{ else }}
                    <a class="dropdown-item disabled" href="#">
                        <i class="fas fa-check-circle pr-1"></i>
                        Модерация клубов
                    </a>
                    {{end}}
                </div>
            </li>
            {{end}}
        </ul>

        <ul class="navbar-nav ml-auto">
            {{if eq .user.Authenticated false }}
            <li class="btn-group">
                <a class="navbutton btn-primary2" id="login" href="/login">
                    <i class="fas fa-key pr-1"></i>
                    Авторизация
                </a>
            </li>
            {{ else }}
            <li class="btn-group">
                <a class="navbutton btn-primary2 dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <b>{{ .user.Name }}</b>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="navsub-choice dropdown-item" href="/logout">
                        <i class="fas fa-door-open pr-1"></i>
                        Выход
                    </a>
                </div>
            </li>
            {{ end }}
        </ul>
    </div>
</nav>

<div id="container" class="container" style="max-width:1200px;">
    <div class="row shadow blocks-center">
        <div class="col-md-12 py-1 bg-primary text-white text-center">
            <div class=" ">
                <div class="card-body">
                    <h2 class="py-1">Список клубов</h2>
                    <table class="table rounded border shadow table-sm h-100"></table>
                </div>
            </div>
        </div>

        {{ range .clubs }}
        <form method="POST">
            <input type="hidden" value="{{ .ClubName }}" name="clubName">
            <div class="square rounded shadow" data-toggle="tooltip" data-tooltip="{{ .About }}">
                <img src="https://21clubs.s3.eu-central-1.amazonaws.com/{{.S3file}}">
                <div class="onsquare text-block">
                    {{ .ClubName }}
                </div>

                <div class="onsquare-size text-block">
                    <i class="fas fa-user-alt"></i>
                    {{ .Size }}
                </div>

                <div class="onsquare-btn text-block trgt" style="display: none">
                    <button type="submit" class="btn font-weight-normal text-block" name="sumbit" value="goToClub">
                        <i class="fas fa-arrow-right fa-2x"></i>
                    </button>
                </div>
                <div class="onsquare-btn-leave text-block trgt" style="display: none">
                    {{ if eq .Owner false }}
                        {{ if eq .Member true }}
                            <button type="submit" class="btn font-weight-normal text-block" name="sumbit" value="leaveClub">
                                <i class="fas fa-door-open fa-lg"></i>
                            </button>
                        {{ else }}
                            <button type="submit" class="btn font-weight-normal text-block" name="sumbit" value="joinClub">
                                <i class="fas fa-user-check fa-lg"></i>
                            </button>
                        {{ end }}
                    {{ end }}
                </div>
            </div>
        </form>
        {{ end }}
    </div>
</div>
    <!--main container [end]-->
    <script src="../js/jquery2.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/bootstrap-datepicker.js"></script>
    <script src="../js/bootstrap-colorpicker.js"></script>
    <script src="../js/bootstrap-datepicker.ru.min.js"></script>
    <script src="../js/scripts.js"></script>
</body>
</html>