<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Резерв комнтат</title>
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../css/awesome.css" type="text/css">
    <link rel="stylesheet" href="../css/bootstrap-datepicker.css" type="text/css">
    <link rel="stylesheet" href="../css/bootstrap-datepicker.css.map" type="text/css">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
</head>
<body class="body">

<!--navigation bar [start]-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
        <!--    <a class="navbar-brand logo border border-dark rounded py-2 px-3 bg-dark" href="/">Резерв комнат</a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item navbutton">
                    <a class="navbutton btn-primary2" id="home" href="/"><i class="fas fa-home"></i></a>
                </li>
                {{if eq .user.Authenticated true }}


                <li class="btn-group">
                    <a class="navbutton btn-primary2 dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fas fa-flag pr-1"></i>
                        Репорт
                    </a>
                    <div class="dropdown-menu">
                        <a class="navsub-choice dropdown-item" href="/repregistration">
                            <i class="fas fa-flag pr-1"></i>
                            Сообщить о ошибке
                        </a>
                        <a class="navsub-choice dropdown-item" href="/report">
                            <i class="fas fa-flag pr-1"></i>
                            Список репортов
                        </a>
                    </div>
                </li>

                <li class="btn-group">
                    <a class="navbutton btn-primary2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fas fa-list-alt pr-1"></i>
                        Клуб
                    </a>
                    <div class="dropdown-menu">
                        <a class="navsub-choice dropdown-item" href="/clubs">
                            <i class="fas fa-list-alt pr-1"></i>
                            Список клубов
                        </a>
                        <a class="navsub-choice dropdown-item" href="/clubregistration">
                            <i class="fas fa-plus pr-1"></i>
                            Регистрация нового клуба
                        </a>
                        <div class="navsub-choice dropdown-divider"></div>
                        {{ if eq $.user.Staff false }}
                        <a class="navsub-choice dropdown-item" href="/clubstoapproved">
                            <i class="fas fa-check-circle pr-1"></i>
                            Модерация клубов
                        </a>
                        {{ else }}
                        <a class="dropdown-item disabled" href="#">
                            <i class="fas fa-check-circle pr-1"></i>
                            Модерация клубов
                        </a>
                        {{end}}
                    </div>
                </li>
                {{end}}
            </ul>

            <ul class="navbar-nav ml-auto">
                {{if eq .user.Authenticated false }}
                <li class="btn-group">
                    <a class="navbutton btn-primary2" id="login" href="/login">
                        <i class="fas fa-key pr-1"></i>
                        Авторизация
                    </a>
                </li>
                {{ else }}
                <li class="btn-group">
                    <a class="navbutton btn-primary2 dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <b>{{ .user.Name }}</b>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        {{ if eq $.member true }}
                        <a class="navsub-choice dropdown-item" href="/myclubs">
                            <i class="fas fa-list-alt pr-1"></i>
                            Мои клубы
                        </a>
                        {{ else }}
                        <a class="dropdown-item disabled" href="#">
                            <i class="fas fa-list-alt pr-1"></i>
                            Мои клубы
                        </a>
                        {{ end }}
                        <div class="navsub-choice dropdown-divider"></div>
                        <a class="navsub-choice dropdown-item" href="/logout">
                            <i class="fas fa-door-open pr-1"></i>
                            Выход
                        </a>
                    </div>
                </li>
                {{ end }}
            </ul>
        </div>
    </nav>
<!--navigation bar [end]-->


<!--main container [start]-->
<div class="container-fluid navmin">

    <div class="row d-flex">
        <div class="col-md-4 my-3 left-col"><!--LEFT-->
            <div class="wrapper1 p-2 rounded-0 border shadow h-100 left-col-div2">
   <form action="/savereserve" method="POST" class="p-2">

       <div id="dp" class=""></div>
       <div>
           <input type = 'hidden' data-date-format="dd.mm.yyyy" id="showDate">
       </div>
       <!--calendar end-->
       <input type='hidden' value="{{.user.Authenticated}}" id="statusAuth">
       <input type='hidden' value="{{.tableName}}" id="selectedFloor">
       <p></p><br>
       <p><small class="form-small-txt">Выбрана дата</small><input type='' value="{{.date}}" id="selectedDate" class="inp text-center" name="showDate"></p>
       <p>
           <small class="form-small-txt">Комната</small>
           <select class='inp text-center' id = 'room_select' class='input-group'name="hero">
               <option value="floor_2" selected>переговорная на 2 этаже</option>
               <option value="floor_3">переговорная на 3 этаже</option>
           </select>
       </p>
       {{ if eq .user.Authenticated true }}
       {{ if .clubs }}
       <p>
           <small class="form-small-txt">Клуб</small>
           <select class='inp text-center' id='clubName' class='input-group'name="clubName">
               {{ range .clubs }}
               <option value="{{ . }}">{{ . }}</option>
               {{ end }}
           </select>
       </p>


       <p><small class="form-small-txt">Кол-во человек</small><input class='inp num text-center' id='peopleNumber' name="peopleNumber" min='1' max='20' size="2" maxlength="2" autocomplete="off" onkeypress="return validateNumber(event)" oninput="checkHandler()"></p>
       <input type="hidden" class='inpDisabled text-center' id='date' name="date" autocomplete="off"></p>
       <input class='inpDisabled text-center' id='lines' name="lines" type="hidden" autocomplete="off"></p>
        <div class="text-center">
            <input class="btn btn-primary pt-2 pb-2 pr-3 pl-3 shadow"  type="submit" id="btn_reservation" value="Зарезервировать" disabled />
        </div>
       {{ end }}
       {{ end }}

   </form>

<!--            <div id="dialog" title="Basic dialog">-->
<!--                <p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the &apos;x&apos; icon.</p>-->
<!--            </div>-->
            </div>
        </div>
        <div class="col-md-8  my-3 right-col hidewarp"> <!--RIGHT-->
            <table class="table rounded border  shadow table-sm h-100">
                <tbody class="font-weight-normal table-bordered">
                <!--data from backend [start]-->
                {{ range .data.TableData }}
                {{ if eq .NickName "" }}
                <tr class="tr_size" id="line{{ .LineID }}">
                    <td scope="col" class="h-td font-weight-normal min">{{ .Time }}<i class="far fa-clock pl-1"></i></td>
                    <td scope="col" class="h-td font-weight-normal pl-3">
                    </td>
                </tr>
                {{ else }}
                <tr class="tr_size bg-booked " id="line{{ .LineID }}">
                    <input type="hidden" value="{{.Color}}">
                    <td scope="col" class="h-td font-weight-normal min">{{ .Time }}<i class="fas fa-clock pl-1"></i></td>
                    <td scope="col" class="h-td font-weight-normal pl-3"><span class="overflow-ellipsis"><b class="text-uppercase">{{ .NickName }}</b> зарезервировал(а) это время для клуба <b class="text-uppercase">{{ .ClubName }}</b> на <b>{{ .PeopleNumber }}</b> чел.</span>
                    {{ if eq .Moder true }}
                        <span class="unreserve" >&times;</span>
                        <!-- <i class="fas fa-trash unreserve fa-sm"></i> -->
                    {{ end }}
                    </td>
                </tr>
                <script>
                    document.getElementById("line{{ .LineID }}").style.backgroundColor = '{{ .Color }}'
                    document.getElementById("line{{ .LineID }}").getElementsByTagName("td").style.borderColor = '{{ .Color }}'
                </script>
                {{ end }}
                {{ end }}
                <!--data from backend [end]-->
                </tbody>

            </table>
        </div>
    </div>

</div>
<!--main container [end]-->
<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/bootstrap-datepicker.js"></script>
<script src="../js/bootstrap-datepicker.ru.min.js"></script>
<script src="../js/scripts.js"></script>
</body>
</html>